@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

@font-face {
  font-family: Lucida;
  src: url(../fonts/ShreeDev0714-01.ttf) format('truetype')
}

@font-face {
  font-family: Lucida;
  src: url(../fonts/ShreeDev0714-01.ttf) format('truetype');
  font-weight: 700
}

@font-face {
  font-family: Beyond;
  src: url(../fonts/beyond_the_mountains.otf) format('opentype'), url(../fonts/ShreeDev0714-01.ttf) format('truetype')
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  color: #2f2f2f
}

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

ul {
  list-style: none;
  margin-bottom: 13px
}

a,
a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

section {
  display: block;
  position: relative;
  box-sizing: border-box
}

.super_container {
  width: 100%;
  overflow: hidden
}

.parallax-window {
  min-height: 400px;
  background: 0 0
}

.section_subtitle {
  font-size: 14px;
  font-weight: 600;
  color: #bd1622;
  text-transform: uppercase;
  letter-spacing: .2em
}

.section_title {
  font-family: Lucida, serif;
  font-size: 60px;
  text-transform: uppercase;
  color: #2f2f2f;
  margin-top: -4px
}

.button {
  width: 142px;
  height: 46px;
  background: #bd1622;
  text-align: center;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease
}

.button a {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .2em;
  line-height: 46px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease
}

.button:hover {
  background: #e0e3e4
}

.button:hover a {
  color: #232323
}

.home {
  width: 100%
}

.home_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important
}

.home_container {
  width: 100%;
  height: 397px
}

.home_content {
  position: absolute;
  left: 0;
  top: 62.4%
}

.home_title {
  font-family: Lucida, serif;
  font-size: 36px;
  color: #fff;
  line-height: .75
}

.about img {
  width: 60%;
  margin: auto
}

@media (max-width:767.98px) {
  .about img {
    width: 100%;
    margin: auto
  }
}

.about #title {
  margin-bottom: 20px
}

.menu {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background: #fff;
  z-index: 101;
  padding-right: 60px;
  padding-top: 87px;
  padding-left: 50px
}

.menu.active {
  right: 0
}

.menu .logo {
  margin-bottom: 60px
}

.menu_nav {
  right: 0;
  padding-right: 60px
}

.menu_nav ul li {
  margin-bottom: 11px
}

.menu_nav ul li a {
  font-size: 12px;
  text-transform: uppercase;
  color: #2f2f2f;
  font-weight: 600;
  letter-spacing: .2em;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease
}

.menu_nav ul li a:hover {
  color: #bd1622
}

.wofM {
  margin-bottom: -40px
}

.contact {
  width: 100%;
  background: #f9f5f5;
  padding-top: 99px;
  padding-bottom: 97px
}

.contact_text {
  width: 100%;
  padding-top: 101px;
  background: #fff
}

.col-lg-5 {
  vertical-align: middle;
  max-width: 100%;
  text-align: center;
  width: 100%;
  flex: 0%
}

.contact_title {
  font-family: Lucida, serif;
  font-size: 30px;
  color: #232323;
  text-transform: uppercase;
  line-height: .75;
  letter-spacing: 10px;
  line-height: 1.6
}

.contact_info_content {
  margin-top: 49px
}

.contact_info_content ul li {
  margin-bottom: 28px
}

.contact_info_content ul li:last-child {
  margin-bottom: 0
}

.contact_info_icon {
  display: inline-block;
  width: 22px;
  text-align: center;
  color: #bd1622;
  font-size: 24px
}

.contact_info_icon img {
  max-width: 100%
}

.contact_info_text {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #232323
}

.contact_info_social {
  margin-top: 73px
}

.contact_info_social ul li {
  display: inline-block;
  margin-right: 25px
}

.contact_info_social ul li:last-child {
  margin-right: 0
}

.contact_info_social ul li a i {
  font-size: 19px;
  color: #bd1622;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease
}

.contact_info_social ul li a i:hover {
  color: #e0e3e4
}

.footer {
  padding-top: 30px
}

.footer_logo a {
  font-family: Lucida, serif;
  font-size: 60px;
  color: #232323
}

.footer_logo img {
  max-width: 100%
}

.footer_nav {
  margin-top: 14px
}

.footer_nav ul li {
  display: inline-block;
  margin-right: 53px
}

.footer_nav ul li:last-child {
  margin-right: 0
}

.footer_nav ul li a {
  font-size: 12px;
  text-transform: uppercase;
  color: #232323;
  font-weight: 600;
  letter-spacing: .2em;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease
}

.footer_nav ul li a:hover {
  color: #bd1622
}

.footer_social {
  margin-top: 51px
}

.footer_social ul li {
  display: inline-block;
  margin-right: 36px
}

.footer_social ul li:last-child {
  margin-right: 0
}

.footer_social ul li a i {
  font-size: 24px;
  color: #bd1622;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease
}

.footer_social ul li a i:hover {
  color: #e0e3e4
}

.copyright {
  margin-top: 56px;
  padding-bottom: 13px;
  font-family: Lucida, serif;
  font-size: 12px;
  color: #232323
}